apiVersion: v1
kind: Secret
metadata:
  name: notification-secrets
  namespace: notification-service
type: Opaque
stringData:
  database-url: "postgresql://notif_user:notif_pass@postgres.notification-service.svc.cluster.local/notifications"
  jwt-secret: "REPLACE_ME"
  smtp-host: "mailhog.notification-service.svc.cluster.local"
  smtp-port: "1025"
